.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50vh; /* Adjust height as needed */
  justify-content: center;
}

.welcome-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.welcome-text {
  font-size: 1.2rem;
  color: #666;
}
